body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 40px;
}

.tabs-cont {
    background: white;
    border-radius: 10px;
    padding: 25px;
    border: 2px solid #ddd;
    max-width: 700px;
    margin: auto;
}

.tabs {
    display: flex;
    gap: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.tab {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    color: #777;
}

.tab.active {
    color: black;
    border-bottom: 2px solid black;
}

.tab-content {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background: black;
    color: white;
    border-radius: 10px;
}

.tab-content.active {
    display: block;
}
